.header {
    width: 100%;
    height: 765px;
    position: relative;
    background-image: url('../recoures/headimage/headimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.head__wrapper {
    position: relative;
    padding-top: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head__link {
    padding: 5px;
    line-height: 15px;
    font-size: 18px;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    background-color: #3559f7;
    border: solid 2px #3559f7;
    text-align: center;
}

.head__link:hover {
    border: solid 2px #3559f7;
    color: #3559f7;
    background-color: #FFF;
}

.head__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.head__text {
    position: absolute;
    width: 430px;
    bottom: 326px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: white;
}

.mylogo {
    display: inline-block;
    width: 228px;
    top: 27px;
    font-size: 42px;
    line-height: 57px;
    border-radius: 50px;
    font-weight: 900;
    text-align: center;
    color: #FFFF;
    text-decoration: none;
    background-size: 50px;
    background-color: #3559f7;
}

.head__title {
    position: absolute;
    width: 919px;
    bottom: 108px;
    font-size: 79px;
    line-height: 83px;
    font-weight: 400;
    color: #3559f7;
}

@media (max-width: 1199px) {
    header {
        width: 100%;
        background-image: url('../recoures/headimage/headimagetable.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .mylogo {
        top: 23px;
        left: 22px;
    }

    .head__nav {
        display: none;
    }
    
    .head__text {
        width: 430px;
        bottom: 326px;
        font-size: 20px;
        line-height: 26px;
    }

    .head__title {
        width: 679px;
        bottom: 56px;
        font-size: 59px;
        line-height: 78px;
    }
}

@media (max-width: 767px) {
    header {
        width: 100%;
        height: 731px;
        background-image: url('../recoures/headimage/headimagemob.png');
    }
    

    .mylogo {
        width: 168px;
        top: 45px;
        font-size: 26px;
        line-height: 48px;
    }

    .head__text {
        width: 299px;
        bottom: 175px;
        font-size: 14px;
        line-height: 27px;
    }

    .head__title {
        width: 323px;
        bottom: 37px;
        font-size: 27px;
        line-height: 48px;
    }
}